body {
  margin: 0;
  font-family: sans-serif;
}

.nav_bar {
  background-color: #173668;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 50px;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.nav_links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.carrito-img {
  height: 24px;
}

.icono-ubicacion {
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.banner {
  background: #ccc;
  padding: 0 0;
  text-align: center;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.banner-content img {
  width: 100%;
  height: 450px;
  background-color: white;
}

.categoria {
  text-align: center;
  margin: 40px 0;
}

.categoria h2 {
  background-color: #173668;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
}

.carrusel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  position: relative;
  width: calc((140px + 10px) * 7); /* 4 cards de 140px + 20px de gap */
  margin: 0 auto;
}

.carrusel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}


/* Tarjetas */
.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px;
  width: 140px;
  border-radius: 15px;
  text-align: center;
  flex: 0 0 auto; /* ¡Clave! Así no se ajustan al ancho del contenedor */
}

.card img {
  width: 100px;
  height: 120px;
  object-fit: contain;
}

.card button {
  margin-top: 10px;
  padding: 5px;
  background-color: #173668;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Flechas */
.flecha {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  padding: 10px;
  color: #173668;
  z-index: 2;
}


footer {
  background-color: #173668;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.footer-contacto, .footer-social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social img {
  height: 20px;
}
