html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > section.productos-section {
    flex: 1;
}

footer {
    margin-top: auto;
}


.Titulo {
    width: 100%;
    background-color: #235099;
}

.productos-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 30px;
    justify-content: center;
}

.filtros {
    width: 250px;
    background-color: #f6f6f6;
    padding: 20px;
    padding-right: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.filtros input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filtros h3 {
    margin-top: 0;
    font-size: 20px;
    color: #173668;
}

.filtros label {
    display: block;
    margin: 8px 0;
}

.grid-productos {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 100px;
}

.producto {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    max-height: 304px;
}

.producto img {
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.producto button {
    margin-top: auto;
    background-color: #173668;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
  .productos-section {
    flex-direction: row;
    gap: 20px;
  }

  .filtros {
    width: 100%;
  }

  .grid-productos {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 70px;
    padding: 0 16px;
    align-items: start;
  }
}